<!DOCTYPE html>
<html>

<head>
    <title>RSOMaker</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'main/jquery-3.6.0.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'main/onload.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/lists.css' %}">
    <meta name="viewport" content="width=device-width, initial scale=1">
    {{ form.media }}
</head>

<body>
    <div id="grid-container">
        <nav id="nav__bar">
            <div class="nav__links"><a href='{% url 'home' %}'>Home</a></div>
            {% if user.is_authenticated %}
            <div class="nav__links"><a href='{% url 'accounts_view' user.id %}'>My account</a></div>
            <div class="nav__links"><a href='{% url 'accounts_logout' %}'>Logout</a></div>
            {% else %}
            <div class="nav__links"><a href='{% url 'accounts_login' %}'>Login</a></div>
            <div class="nav__links"><a href='{% url 'accounts_signup' %}'>Signup</a></div>
        </nav>
    {% endif %}
    {% block content %}{% endblock content %}
    </div>
</body>
</html>