[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-map-widgets = "*"
six = "*"
requests = "*"
django-multiselectfield = "*"
django-stubs = "*"

[dev-packages]
black = "*"

[requires]

[pipenv]
allow_prereleases = true
