{% extends "base.html" %}

{% block content %}
{{ location_form.media }}
<form method="post" action="{% url 'event_create' university.university_id rso.rso_id %}">
    {% csrf_token %}
    {{ location_form.as_p }}
    {{ event_form.as_p }}
    <input type="submit" value="Create Event" />
</form>
<script>
function showRRULEInput() {
    jQuery('.until-input').parent().show()
    jQuery('.byday-input').show()
}
function hideRRULEInput() {
    jQuery('.until-input').parent().hide()
    jQuery('.byday-input').hide()
}
function onRRULETypeChoiceChange() {
    if (jQuery('.rrule-type-choice-input').val() == "WEEKLY")
            showRRULEInput()
        else
            hideRRULEInput()
}
jQuery(document).ready(function () {
    onRRULETypeChoiceChange()
    jQuery('.rrule-type-choice-input').change(onRRULETypeChoiceChange)
});
</script>
{% endblock %}