{% extends "base.html" %}

{% block content %}
<div class="content-wrap">
    <h1>Registered Student Organizations</h1>
    {% if user.is_authenticated and user.university_id == university.university_id %}
            </br><input type="button" onclick="location.href='{% url 'rso_create' university.university_id %}';" value="Create RSO" />
        {% endif %}
    
    <input type="text" id="search__bar" onkeyup="searchFunction()" placeholder="Search..">
    <ul id="search__list">
    {% for rso in object_list %}
        <li><a href="{% url 'rso_view' university.university_id rso.rso_id %}">{{ rso.name }}</a></li>
    {% empty %}
        <li>No organizations found.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}