{% extends "base.html" %}

{% block content %}
<div class="content-wrap">
    <h1>Registered Student Organizations</h1>
    <input type="text" class="search__bar" id="rso_input2" onkeyup="searchDBEntity('rso_input2','rso_list2' )" placeholder="Search..">
    <ul class="search__list" id="rso_list2">
    {% for rso in object_list %}
        <li><a href="{% url 'rso_view' rso.university.university_id rso.rso_id %}">{{ rso.name }}</a></li>
    {% empty %}
        <li>No organizations found.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}