{% extends "base.html" %}

{% block content %}
    <h2>{{university.name}}</h2>
    id: {{ university.university_id }}</br>
    email_domain: {{ university.email_domain }}</br>
    student count: {{ university.student_count }}</br>
    description: {{ university.description|linebreaks }}</br>
    Location: </br> <img src="{{ university.location.image.url }}" alt="Location has not loaded"/></br> 
    Avatar: </br><img style="width:100%;max-width:200px;" src="{{ university.avatar_image.url }}" alt="Avatar has not loaded"/>
    
    <div class="content-wrap">
        <h3> Students </h3>
        <input type="text" id="search__bar" onkeyup="searchFunction()" placeholder="Search..">
        <ul id="search__list">
            {% for student in university.students.all %}
                <li><a href="{% url 'accounts_view' student.id %}">{{ student.username }}</a></li>
            {% empty %}
                <li>No students registered yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="content-wrap">
        <h3>Registered Student Organizations</h1>
        {% if user.is_authenticated and user.university_id == university.university_id %}
                </br><input type="button" onclick="location.href='{% url 'rso_create' university.university_id %}';" value="Create RSO" />
            {% endif %}
        
        <input type="text" id="search__bar" onkeyup="searchFunction()" placeholder="Search..">
        <ul id="search__list">
        {% for rso in university.rsos.all %}
            <li><a href="{% url 'rso_view' rso.rso_id %}">{{ rso.name }}</a></li>
        {% empty %}
            <li>No organizations registered yet.</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}