/* Box size fix */
* {
  box-sizing: border-box;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

ul li a {
  text-decoration: none;
}

/* Content wrap */
.content-wrap {
  /* Responsive content */
  width: 85%;
  margin: auto;
  overflow-y: auto;
}

/* List-wrap */
.list-wrap {
  margin: 0 auto;
  overflow: hidden;
}

#nav-bar {
  background: #333
}

#nav-bar__links {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#nav-bar__links li {
  border-right: 1px solid #bbb;
}

#nav-bar__links li a {
  display: block;
  padding: 20px;
  color: white;
}

#nav-bar__links li a:hover {
  background-color: #111;
}

/* Search Lists */
.search__bar {
  background-image: url('searchicon.png'); /* Add a search icon to input */
  background-size: contain; /* Downsize search icon */
  background-position: left; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.search__list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 235px; /* Five lists elements at 47px ea. */
  overflow-y: auto; /* Add scroll bar when > 5 elements */
}

.search__list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.search__list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
