/* Box size fix */
* {
  box-sizing: border-box;
}

/* Remove default list styling */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Content wrap */
.content-wrap {
  /* Responsive content */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* List-wrap */
.list-wrap {
  width: 30%;
  margin: 0 auto;
  overflow: hidden;
}

/* Grid layout 
==============================================================================*/
#grid-container {
  display: grid;
  margin: 0 auto;
  width: 80%; /* Responsive width */
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
}

.nav__links {
  display: flex;
}

#nav__bar {
  display: flex;
  justify-content: space-between;
  grid-area: header;
}

.main-wrap {
  display: grid;
  grid-area: middle;
}

/* Search Lists */
#search__bar {
  background-image: url('searchicon.png'); /* Add a search icon to input */
  background-size: contain; /* Downsize search icon */
  background-position: left; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#search__list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#search__list li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
